* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
#html {
  word-break: break-all;
}
#yinyang {
   position: fixed;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
 }
#yinyang::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#yinyang::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media  (max-width :700px) {
  #html {
    height: 50vh;
    overflow: auto;
  }
  .wrapper {
    height: 50vh;
  }
  #yinyang {
    position: relative;
    top: 20px;
    right: 0;
  }
}
 